@import url('https://fonts.googleapis.com/css?family=Numans');

html,body{
background-image: url('http://getwallpapers.com/wallpaper/full/0/3/1/90073.jpg');
background-size: cover;
background-repeat: no-repeat;
height: 100%;
font-family: 'Numans', sans-serif;
overflow-x: hidden;
}

input {
  text-indent: 2%;
  outline: none;
  padding: 2%;
}

.greeting-message {
  margin: 5% 0;
  display: flex;
  justify-content: center
}

.authentication-section {  
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}

.authentication-section input {
  width: 84%;
}

.auth-footer-btn {
  padding: 0;
  margin-left: 2px;
}

.feed {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.write-thread-form {  
  display: flex;
  justify-content: center;
  margin: 5% 0;
  border: none;
  outline: none;
}

.add-thread-btn {
  margin-left:2%;
}

.list-of-threads {  
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.list-of-threads {
  padding: 0 7%;
}

.add-thread-form-row {
  padding: 0 5%;
}

write-thread-form > button.btn.btn-primary.add-thread-btn {
  font-size: 3px;
}

button.add-thread-btn {
  font-size: 75%;
}

.card.single-thread-card {
  margin: 5%;
  width: 100%;
}

.thread-delete-btn {
  position: absolute;
  right: 10px;
  cursor: pointer;
  top: 5px;
}

.card-body {
    display: flex;
    flex-direction: column;
}

.thread-date, .thread-author {
    font-size: 80%;
}

.thread-title {
  padding: 2%;
  background-color: lightgray;
  border-radius: 4px;
  margin-top: 2%;
}

.thread-reply-form-title {
  align-self: center;
}

.thread-reply-elements-wrapper {
  align-items: center;
  justify-content: center;
  align-content: center;
  display: flex;
}

.thread-reply-elements-wrapper input[type="text"] {
  margin-right: 2%;
  font-size: 70%;
  width: 100%;
}

.thread-reply-elements-wrapper > button.btn.btn-success {
  font-size: 85%;
}

form.card-footer.single-thread-comment-input-wrapper {
  display: flex;
  flex-direction: column;
}

.write-thread-form input {
  width: 70%;
}

.greeting-message h1 {
  font-size: 100%;
  font-weight: bold;
}

.comment-delete-btn {
  position: absolute;
  cursor: pointer;
  top: 50%;
  right: 2%;
  transform: translateY(-50%);
}

li.list-group-item {
  display: flex;
  flex-direction: column;
}

.comment-details-wrapper {
  display: flex;
  flex-direction: column;
}

span.comment-createdAt {
  font-size: 70%;
}

span.comment-author {
  font-size: 70%;
}

span.comment-body {
  font-size: 80%;
  font-weight: bold;
}

.comments-title {
  text-align: center;
  color: white;
  background-color: black;
}